.App {
  text-align: center;
  background-image: radial-gradient(navy, slategrey);
}

.App-header {
 
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-main {
  min-height: 70vh;
  
}

.App-footer {
  min-height: 10vh;
  border: solid 2px black;
}

.head-left {
  min-width: 50vw;
  min-height: 20vh;
  background-color: white;
  color: navy;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  font-family: 'Eagle Lake', cursive;
}

.head-right {
  min-width: 50vw;
  font-size: calc(1.5px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

